/* src/components/MainMenu.css */

/* Style the main menu container */
.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, var(--background-color) 0%, var(--primary-color) 100%); /* Gradient background */
    color: var(--primary-color);
    text-align: center;
  }
  
  /* Style the main heading */
  .main-menu h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  /* Style the buttons */
  .main-menu button {
    background-color: var(--accent-color);
    color: #000000;
    border: none;
    padding: 1rem 2rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  /* Change background color on hover */
  .main-menu button:hover {
    background-color: var(--border-color);
  }
  