/* CodexCardList.css */

/* Main layout for the Codex */
.codex-layout {
  display: flex;
  height: 100vh; /* Full screen height */
  width: 100%;
}

/* Full-height left-side panel */
.filter-panel {
  width: 250px; /* Fixed width for the panel */
  height: 100%;
  background-color: #1f1f3f;
  padding: 20px;
  border-radius: 10px;
  color: #e0e0e0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.filter-panel h3 {
  color: #4caf50;
  margin-bottom: 20px;
}

.filter-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #121212;
  color: #e0e0e0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button.active {
  background-color: #4caf50;
  color: white;
}

.filter-button:hover {
  background-color: #333;
}

/* Codex cards */
.codex-cards {
  
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  width: 90%; /* Remaining width after panel */
  height: 40%;
  overflow-y: auto;
}

.codex-card {
  width: 80%; /* Cards take half the space */
  background-color: #1f1f3f;
  color: #e0e0e0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.codex-card:hover {
  transform: scale(1.05);
  background-color: #333;
  box-shadow: 0px 5px 20px rgba(76, 175, 80, 0.7); /* Glow effect */
}

.category {
  background-color: #4caf50;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.category-count {
  background-color: #ff5722; /* Choose a color that fits your theme */
  color: white;
  border-radius: 12px;
  padding: 2px 8px;
  margin-left: 8px;
  font-size: 0.9rem;
}