.workframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;  /* 80% of the viewport height */
  width: calc(100dvh * 2);  /* Maintain aspect ratio of the TV (height * aspect ratio) */

  position: relative;
  overflow: hidden;
}

.workframe {
  width: 70%;  /* 85% of the tv-frame-container width */
  height: 86%; /* 75% of the tv-frame-container height */
  background-color: var(--background-color);
  position: absolute;
  top: 1%; /* Adjust as needed to vertically center within TV frame */
  left: 8%; /* Adjust to horizontally center */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-radius: 95px 20px 10px 15px; /* Adjust to match TV corners */
  overflow-y: auto;
  overflow-x: hidden;

  }
    


  .navbar-links a {
    padding: 10px;
    color: var(--highlight-color); /* More professional color */
    text-decoration: none;
    font-family: 'Roboto', sans-serif; /* More professional font */
    font-weight: bold;
  }
  /* Customize scrollbar styling (optional) */
  .workframe::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
  }
  
  .workframe::-webkit-scrollbar-thumb {
    background-color:var(--accent-color); /* Color of the scrollbar thumb */
    border-radius: 4px;
  }
  
  .workframe::-webkit-scrollbar-track {
    background-color: var(--secondary-background-color); /* Scrollbar background color */
  }
  
  /* Title styling */
  .workframe h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--primary-color); /* Make the color match the professional tone */
    text-align: center;
    padding-bottom: 10px; /* Spacing under the title */
    border-bottom: 2px solid var(--secondary-color); /* Underline the title */
  }
  
  .workframe p {
    font-family: 'Open Sans', sans-serif;
    color: var(--primary-color);
    line-height: 1.5;
    font-size: 16px;
  }