.workframe-container {
  display: inline;
  justify-content: center;
  align-items: center;
  height: 1400px; /* Fixed height for the entire TV frame */
  width: 2125px; /* Fixed width for the TV frame */
  position: relative;
  overflow: hidden; /* Prevent internal scrolling */
}

/* Work mode PC screen style */
.workframe {
  width: 90%; /* Fixed width for the screen */
  height: 90dvh; /* Fixed height for the screen */
  background-color: var(--background-color); /* Screen background color */
  position: center;
  top: 30px; /* Fine-tune to fit inside the TV frame */

  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  overflow-y: auto; /* Allow vertical scrolling inside the TV screen */
  overflow-x: hidden; /* Prevent horizontal scrolling */

  }
  
  /* Hover state for a subtle shadow effect */
  .workframe:hover {
    box-shadow: 
      0 0 15px rgba(200, 200, 200, 0.8),
      0 0 40px rgba(200, 200, 200, 0.8); /* Softer shadow on hover */
  }
  


  .navbar-links a {
    padding: 10px;
    color: white;
    text-decoration: none;
  }
  /* Customize scrollbar styling (optional) */
  .workframe::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .workframe::-webkit-scrollbar-thumb {
    background-color: rgba(255, 102, 0, 0.8); /* Color of the scrollbar thumb */
    border-radius: 4px;
  }
  
  .workframe::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2); /* Scrollbar background color */
  }
  
  /* Title styling */
  .workframe h1 {
    color: var(--accent-color); /* Retro color */
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    margin: 0;
  }
  
