/* src/components/QuestDetail.css */

/* Professional-looking quest detail */
.quest-detail {
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  font-family: 'Arial', sans-serif; /* Clean, professional font */
  background-color: var(--secondary-background-color);
  color: var(--primary-color);
  border: 2px solid var(--border-color);
  box-shadow: 0 4px 10px var(--shadow-color);
}
/* Panel below the carousel that shows quest details */
.details-panel {
  width: 80%;
  background-color: var(--background-color); /* Match with the theme's background */
  color: var(--primary-color); /* Match text color to theme */
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}
.quest-detail h1 {
  font-size: 1.8rem;
  color: var(--highlight-color); /* Subtle yellow for play mode */
}


.quest-detail p {
  margin: 10px 0;
  color: #b0bec5; /* Softer text color for readability */
}

.role-badges {
  display: flex;
  gap: 10px;
  list-style: none;
  margin-bottom: 20px;
}

.badge {
  background-color: var(--accent-color);
  color: var(--button-color);
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 0.9rem;
}

.details-panel h2 {
  color: var(--highlight-color);
}

.quest-detail h3 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: var(--highlight-color); /* Yellow for play */
}

.quest-detail.work h3 {
  color: #2196f3; /* Blue for work */
}

ul.learnings {
  margin-top: 10px;
  padding-left: 20px;
  list-style-type: disc; /* Simple list style */
}

.details-panel ul li {
  margin-bottom: 10px;
  color: var(--primary-color);
}

.back-button {
  margin-top: 20px;
  background-color: var(--highlight-color);
  color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: var(--shadow-color);
}


.quest-detail.work .back-button:hover {
  background-color: #2196f3;
}
